:root {
    --primary-purple: hsl(271, 81%, 56%);
    --secondary-purple: hsl(271, 81%, 66%);
    --dark-grey: hsl(0, 0%, 9%);
    --primary-grey: hsl(0, 0%, 15%);
    --secondary-grey: hsl(0, 0%, 25%);
    --font-color: hsl(0, 0%, 100%);
}
body {
    background-color: var(--dark-grey);
    color: var(--font-color);
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
}

h1 {
    background-color: var(--primary-purple);
    margin: 0px;
    text-align: center;
    font-size: 4rem;
    padding: 20px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.game-state {
    width: clamp(300px, 50vw, 500px);
    text-align: center;
}

input {
    text-align: center;
    background-color: transparent;
    color: var(--font-color);
    border: none;
    appearance: none;
    border-radius: 3px;
}

input:hover,
input:focus {
    background-color: var(--primary-grey);
}

input:focus {
    outline: none;
    border-bottom: 1px white solid;
}

.board {
    display: grid;
    height: clamp(300px, 50vw, 600px);
    width: clamp(300px, 50vw, 600px);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 2px solid var(--font-color);
    background-color: var(--primary-grey);
    border-radius: 20px;
}

.cell {
    color: white;
    border: none;
    background-color: transparent;
    border-right: 2px solid var(--font-color);
    border-bottom: 2px solid var(--font-color);
    font-size: clamp(4rem, 5vw, 8rem);
    appearance: none;
}

.cell:hover:not(:active) {
    background-color: var(--secondary-grey);
}

.left {
    border-left: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

.right {
    border-right: none;
}

.bottom.left {
    border-radius: 0px 0px 0px 20px;
}

.bottom.right {
    border-radius: 0px 0px 20px 0px;
}

.top.right {
    border-radius: 0px 20px 0px 0px;
}

.top.left {
    border-radius: 20px 0px 0px 0px;
}

.restart {
    background-color: var(--primary-purple);
    border: none;
    color: var(--font-color);
    margin-top: 30px;
    padding: 20px 100px;
    font-size: 2rem;
    border-radius: 10px;
}

.restart:hover:not(:active) {
    background-color: var(--secondary-purple);
}
